<div class="container">

  <hr/>

  <p class="title">Books list</p>


  <table class="table table-striped" matSort (matSortChange)="getBooksWithOrder($event)">
    <thead>
      <tr>
        <th scope="col" mat-sort-header="name">name</th>
        <th scope="col" mat-sort-header="author">author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
      </tr>
    </tbody>
  </table>

  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages; let i=index">
      <a class="nav-link" href="" (click)="setPage(i, $event)">{{i}}</a>
    </li>

  </ul>

  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>


</div>
