<div class="container">

  <p class="title">Library</p>

  <hr/>

  <table matSort (matSortChange)="getBooksWithOrder($event)">
    <thead>
      <tr>
        <th mat-sort-header="name">name</th>
        <th mat-sort-header="author">author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
      </tr>
    </tbody>
  </table>

  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages; let i=index">
      <a class="nav-link" href="" (click)="setPage(i, $event)">{{i}}</a>
    </li>

  </ul>


</div>
